th {
  padding: 0 35px;
}

.th-message{
  width:100%;
}

table {
  border-collapse: collapse;
  border: 1px solid #808080;
}

table td, table th {
  border: 1px solid #808080;
}

table th {
  background-color: #e0e0e0;
}

.left-msg {
  text-align: left;
  padding-left: 20px;
}
