<div id="tweet-list">
  <p class="left-msg">The Most Recent Tweets</p>
  <p *ngIf="!tweets"><em>Loading Tweets...</em> </p>
  <table *ngIf="tweets.length">
    <thead>
      <tr>
        <th>ID</th>
        <th>Post Date</th>
        <th>Message</th>
        <th>Sender Name</th>
        <th>Sender Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tweet of tweets">
        <td>{{ tweet.id }}</td>
        <td>{{ tweet.postDate | date:'MM/dd/yyyy hh:mm' }}</td>
        <td>{{ tweet.message }}</td>
        <td>{{ tweet.sender.name }}</td>
        <td>{{ tweet.sender.email }}</td>
      </tr>
    </tbody>
  </table>

  <div class="text-start mt-2">
    <button class="btn btn-primary" (click)="gotoTweet()">Post a Tweet</button>
  </div>

</div>
