<div class="tweet-form">
  <h3>Send a tweet</h3>
  <form [formGroup]="tweetForm">
    <!-- ID -->
    <!--     <div class="form-group">
      <label class="center-block">
        Id:
        <input class="form-control" formControlName="tweetId" [ngModel]="model.id">
      </label>
    </div> -->
    <!-- MESSAGE -->
    <div class="form-group">
      <label class="center-block">
        Message:
        <textarea rows="4" cols="100" minlength="1" maxlength="140" placeholder="maximum 140 characters"
                  class="form-control" [formControl]="messageControl" [(ngModel)]="model.message">
        </textarea>
      </label>
    </div>

    <!-- EMAIL -->
    <div class="form-group">
      <label class="center-block">
        Email:
        <input class="form-control" [formControl]="emailControl" [(ngModel)]="model.sender.email" required placeholder="Email" >
      </label>
    </div>
    <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)"
         class="alert alert-danger">
      <div *ngIf="emailControl.errors?.required">
        Email is required.
      </div>
      <div *ngIf="emailControl.errors?.email">
        Please enter a valid email.
      </div>


    </div>

    <!-- NAME -->
    <div class="form-group">
      <label class="center-block">
        Name:
        <input class="form-control" [formControl]="nameControl" [(ngModel)]="model.sender.name" placeholder="Sender Name">
      </label>
    </div>
    <br />
    <button class="btn btn-outline-success" type="submit" (click)="submitForm()">Send</button>
    <br />
    <!-- Alert -->
    <div class="form-group">
      <label class="center-block">
        Result:
        <input class="form-control" [formControl]="alertControl" [ngModel]="alertText">
      </label>
    </div>


  </form>
</div>
